<h1>Edit Figure</h1>

<form action="/figures/<%= @figure.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <label>Name:</label>
    <input type="text" name="figure[name]" value="<%= @figure.name %>" id="figure_name">

  <br>

  <label>Title(s)</label>
    <% Title.all.each do |title| %>
      <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>" <%= 'checked' if @figure.titles.include?(title) %>> <%= title.name %></input>
      <br>
    <% end %>

  <br>

  <label>Or, Create New Title:</label>
    <input type="text" name="title[name]" id="new_title">

  <br>

  <label>Landmark(s)</label>
    <% Landmark.all.each do |title| %>
      <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>" <%= 'checked' if @figure.landmarks.include?(landmark) %>> <%= landmark.name %></input>
      <br>
    <% end %>

  <br>

  <label>Or, Create New Landmark:</label>
    <label for="landmark_name">Name:</label>
      <input type="text" id="new_landmark" name="landmark[name]">
    <label for="landmark_year">Year:</label>
      <input type="text" id="landmark_year" name="landmark[year_completed]">
    <input type="submit" value="Edit Figure">
</form>
