<h1><%= @figure.name %></h1>

<h2>Title(s)</h2>
  <ul>
    <% @figure.titles.each do |title| %>
      <li><%= title.name %></li>
    <% end %>
  </ul>

<h2>Landmark(s)</h2>
  <ul>
    <% @figure.landmarks.each do |landmark| %>
      <li><%= landmark.name %></li>
      <ul>
        <li>Year Completed: <%= landmark.year_completed %></li>
      </ul>
    <% end %>
  </ul>

<a href="/figures/<%= @figure.id %>/edit">Edit figure</a>
